body {
    text-align: center;
}
.gameTitle {
	font-family: 'Bangers', cursive;
	font-size: 50px;
	color: #006600;
}
.welcome,
.instructions,
.githubLink,
.myWebsite {
	font-family: 'Lato', sans-serif;
	text-align: center;
}
a {
	text-decoration: none;
}
.githubLink {

}
.bottom {
	text-align: right;
}
.welcome {
	font-size: 20px;
}
.instructions {
	font-size: 12px;
	position: relative;
	background: #ffffff;
	border: 3px solid #373f45;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	height: 100px;
	width: 300px;
	border-radius: 15%;

     z-index:15;
     left:50%;
     margin-top:50px;
     margin-left:-180px;
}
.instructions:before, .instructions:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.instructions:before {
	border-color: rgba(55, 63, 69, 0);
	border-bottom-color: #373f45;
	border-width: 34px;
	margin-left: -34px;

}
.instructions:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
}
.hidden {
	display: none;
}